---
pagination:
  data: cats
  alias: cat
  size: 1
permalink: "/aboutme/{{ cat.name | slug }}/"
layout: pets.njk
eleventyComputed:
  name: "{{ cat.name }}"
  title: "{{ cat.title }}"
  description: "{{ cat.description }}"
  hobbies: "{{ cat.hobbies }}"
  photoURL: "{{ cat.photoURL }}"
  twitter: "{{ cat.twitter }}"
  workName: "{{ cat.workName }}"
  workPhotoURL: "{{ cat.workPhotoURL }}"
  projects: "{{ cat.projects }}"
  experience: "{{ cat.experience }}"
  passion: "{{ cat.passion }}"

