<html>
<head>
    <style>
        * {
            background: #f2f7f2;
        }
        nav {
            background: #C8FF33;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav a {
            display: block;
            width: 60px;
        }

        .nav-left {
            float: left;
        }

        .nav-left ul li {
            float: left;
        }

        .nav-right ul li {
            float: right;
        }
        li a {
            color: #FF9333;
            line-height: 1.3;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-left: 2em;
            padding-top: 0.5em;
            display: block;
            font-size: 0.9em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
        }

        content a.internal-link {
            border-color: #373d20;
            background-color: #e6ead7;
        }

        #tooltip-wrapper {
            background: white;
            padding: 1em;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            position: absolute;
            width: 400px;
            height: 250px;
            font-size: 0.8em;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            opacity: 0;
            transition: opacity 100ms;
        }

        #tooltip-wrapper:after {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
                width: 100%;
                height: 75px;
        }
    </style>
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <ul>
                <!-- Loop through cat data -->
                {% for cat in cats %}
                <li>
                    <a href="/aboutme/{{ cat.name | slug }}/">{{ cat.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                 <!-- Loop through dog data -->
                {% for dog in dogs %}
                <li>
                    <a href="/dogs/{{ dog.name | slug }}/">{{ dog.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <br>
    <br>

    <div class="wrapper">
        <main><content>
            <h1 id="hi-and-welcome">Hi and welcome!</h1>

            <h2 id="im-charlie-this-blog-is-meant-as-a-place-for-me-to-think-out-loud-ponder-with-friends-and-build-an-archive-of-personal-knowledge">I’m <a class="internal-link" href="/cbt">Lanky</a>. This blog is a place for me to experiment with 11ty and for others also if they want to join in the fun. Currently, I am having fun with 11ty Rocks' blog community</h2>

            <p>If you’re curious about the conceptual underpinnings of this blog, check out my note about the phenomenon of <a class="internal-link" href="/digital-garden">Digital Gardens</a>. The basic gist is:</p>
                <ul>
                    <li>notes are not organized chronologically</li>
                    <li>many of the notes you find may be incomplete</li>
                    <li>you can use links within the notes to navigate to other notes</li>
                </ul>

            <p>If you’re looking for a specific (or a non-specific) note, check below:</p>
        </content></main>
    </div>
</body>

</html>